.navbar {
  height: 4.5em;
  background-color: aqua;
}
.links {
  display: flex;
  background-color: aqua;
  margin-bottom: 5em;
  justify-content: end;
}
.links a {
  padding-left: 1.5%;
  text-decoration: none;
  font-size: 120%;
}

.links a:hover {
  text-decoration: underline;
}