.navbar {
  height: 4.5em;
  background-color: aqua;
}
.links {
  display: flex;
  background-color: aqua;
  margin-bottom: 5em;
  justify-content: end;
}
.links a {
  padding-left: 1.5%;
  text-decoration: none;
  font-size: 120%;
}

.links a:hover {
  text-decoration: underline;
}

h1, p {
  text-align: center;
}
.signin  {
  margin-top: 10%;
}
.sign {
  margin-top: 2%;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.name {
  padding: .7em;
  font-size: 100%;
}

.email, .password, .confirmpassword {
  padding: .7em;
  width: 25%;
}
.name, .email, .password, .confirmpassword {
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid;
  box-sizing: border-box;
  appearance: none;
  font-size: .875rem;
  height: 40px;
  margin: 0;
}

::placeholder {
  font-size: 150%;
}
.button1 {
  display: flex;
  justify-content: center;
}
.regButton {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #c7c7c7;
  color: black;
  border-radius: 30px;
  border: none;
  font-size: 125%;
  margin-top: 1%;
  padding: .7em;
  width: 25%;
}

.item-list {
display: flex;
justify-content: space-around;

}

.item-list div h3 {
margin-left: -70px;
}

.welcome-signin {
  display: flex;
  position: relative;
  justify-content: center;
  padding: .7em;
}

.welcome-signin button {
  font-size: 20px;
  margin-top: 30px;
}